@model Dictionary<int, StoreFront.UI.Models.CartItemViewModel>

@{
    ViewBag.Title = " Shopping Cart";
    decimal? cartTotal = 0;
    int totalCountOfItems = 0;
}

<div class="container">
    <!-- HERO SECTION-->
    <section class="py-5 title-section">
        <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
                <div class="col-lg-6">
                    <h1 class="h2 text-uppercase mb-0">@ViewBag.Title</h1>
                </div>
                <div class="col-lg-6 text-lg-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <h2 class="h5 text-uppercase mb-4">In Your Cart</h2>
        <div class="row">
            <div class="col-lg-8 mb-4 mb-lg-0">
                @if (ViewBag.Message != null)
                {
                    <h3 style="text-align: center; color: #59B7F5; margin-top: 50px; margin-bottom: 75px;">@ViewBag.Message</h3>
                }
                else
                {
                    <!-- CART TABLE-->
                    <div class="table-responsive mb-4">
                        <table class="table">
                            <thead class="gray-bg text-white">
                                <tr>
                                    <th class="border-0" scope="col"><strong class="text-small text-uppercase">Product</strong></th>
                                    <th class="border-0" scope="col"></th>
                                    <th class="border-0" scope="col"> <strong class="text-small text-uppercase">Price</strong></th>
                                    <th class="border-0" scope="col"> <strong class="text-small text-uppercase">Quantity</strong></th>
                                    <th class="border-0" scope="col"> <strong class="text-small text-uppercase">Total</strong></th>
                                    <th class="border-0" scope="col"> </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="pl-0 border-0" scope="row">
                                            <div class="media align-items-center">
                                                <a class="reset-anchor d-block animsition-link" href="@Url.Action($"Detail/{item.Value.Product.ProductID}", "Home")"><img src="~/Content/imgstore/products/t_@item.Value.Product.Image" alt="@item.Value.Product.Name" width="70" /></a>
                                            </div>
                                        </td>
                                        <td class="align-middle pl-0 border-0">
                                            <div class="media-body ml-3">
                                                <strong class="h6"><a class="reset-anchor text-white animsition-link" href="@Url.Action($"Detail/{item.Value.Product.ProductID}", "Home")">@item.Value.Product.Name</a></strong>
                                            </div>
                                        </td>
                                        <td class="align-middle border-0">
                                            <p class="mb-0 text-white-50 small">@String.Format($"{item.Value.Product.Price:c}")</p>
                                        </td>
                                        <td class="align-middle border-0">
                                            <div class="border bg-white d-flex align-items-center justify-content-between px-0" style="max-width: 140px;">
                                                @*<span class="small text-uppercase text-gray headings-font-family">Quantity</span>*@
                                                <div class="quantity">
                                                    @*<button class="dec-btn p-0"><i class="fas fa-caret-left"></i></button>*@
                                                    @using (Html.BeginForm("UpdateCart", "ShoppingCart", FormMethod.Post))
                                                    {
                                                        @Html.Hidden("productID", item.Value.Product.ProductID)
                                                        @Html.TextBox("qty", item.Value.Qty, new { @class = "form-control form-control-sm border-0 shadow-0 p-0", style = "display: inline; width: 30px;" })
                                                        <input type="submit" value="Update" class="btn btn-primary" />
                                                    }
                                                    @{ 
                                                        totalCountOfItems += item.Value.Qty;
                                                    }
                                                    @*<button class="inc-btn p-0"><i class="fas fa-caret-right"></i></button>*@
                                                </div>
                                            </div>
                                        </td>
                                        <td class="align-middle border-0">
                                            @{ 
                                                decimal? lineTotal = item.Value.Product.Price * item.Value.Qty;
                                                cartTotal += lineTotal;
                                            }
                                            <p class="mb-0 text-white-50 small">@String.Format($"{lineTotal:c}")</p>
                                        </td>
                                        <td class="align-middle border-0">
                                            <a class="reset-anchor" href="@Url.Action("RemoveFromCart", "ShoppingCart")/@item.Value.Product.ProductID" id="@item.Value.Product.ProductID"><i class="fas fa-trash-alt small text-muted"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                <!-- CART NAV-->
                <div class="gray-bg px-4 py-3">
                    <div class="row align-items-center text-center">
                        <div class="col-md-6 mb-3 mb-md-0 text-md-left"><a class="btn btn-link p-0 text-white btn-sm" href="@Url.Action("Categories", "Home")"><i class="fas fa-long-arrow-alt-left mr-2"> </i>Continue Shopping</a></div>
                        <div class="col-md-6 text-md-right"><a class="btn btn-outline-light btn-sm" href="@Url.Action("Checkout", "Home")">Procceed To Checkout<i class="fas fa-long-arrow-alt-right ml-2"></i></a></div>
                    </div>
                </div>
            </div>
            <!-- ORDER TOTAL-->
            <div class="col-lg-4">
                <div class="card order-total rounded-0 p-lg-4 gray-bg">
                    <div class="card-body">
                        <h5 class="text-uppercase mb-4">Cart total</h5>
                        <ul class="list-unstyled mb-0">
                            <li class="d-flex align-items-center justify-content-between"><strong class="text-uppercase small font-weight-bold">Subtotal</strong><span class="text-muted text-white-50 small">@String.Format($"{cartTotal:c}")</span></li>
                            <li class="border-bottom my-2"></li>
                            <li class="d-flex align-items-center justify-content-between mb-4"><strong class="text-uppercase small font-weight-bold">Total</strong><span>@String.Format($"{cartTotal:c}")</span></li>
                            @*<li>
                                <form action="#">
                                    <div class="form-group mb-0">
                                        <input class="form-control" type="text" placeholder="Enter your coupon">
                                        <button class="btn btn-dark btn-sm btn-block" type="submit"> <i class="fas fa-gift mr-2"></i>Apply coupon</button>
                                    </div>
                                </form>
                            </li>*@
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>