@model IEnumerable<StoreFront.UI.Models.ApplicationUser>

@{
    ViewBag.Title = "Manage Users";
}

<div class="container py-5">
    <h2>@ViewBag.Title</h2>

    <p>
        @Html.ActionLink("Create New User", "Create")
    </p>
    <table class="table data-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "UsersAdmin", new { id = item.Id })" title="Edit Info"><i class="fas fa-edit"></i></a> |
                    <a href="@Url.Action("Details", "UsersAdmin", new { id = item.Id })" title="View Details"><i class="far fa-eye"></i></a> |
                    <a href="@Url.Action("Delete", "UsersAdmin", new { id = item.Id })" title="Delete Item"><i class="far fa-trash-alt"></i></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

@section scripts {
    <script>
        // Applying jQuery DataTables plugin
        $(document).ready(function () {
            $(".data-table").DataTable();
        });
    </script>
}