@model IEnumerable<StoreFront.DATA.Category>

@{
    ViewBag.Title = "Categories";
}

<div class="container py-5">
    <h2>@ViewBag.Title</h2>

    <p>
        @Html.ActionLink("Create New Category", "Create")
    </p>
    <div id="MessageContent"></div>
    <table class="table data-table" id="CategoriesTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr id="Category-@item.CategoryID">
                    <td>
                        <img src="~/Content/imgstore/categories/t_@item.Image" alt="Category Image" title="@item.Name" style="max-width: 100px;" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Categories", new { id = item.CategoryID })" title="Edit"><i class="fas fa-edit"></i></a>
                        <a href="@Url.Action("Details", "Categories", new { id = item.CategoryID })" title="Details"><i class="far fa-eye"></i></a>
                        @Ajax.ActionLink(" ", "AjaxDelete", "Categories",
                           new { id = item.CategoryID },
                           new AjaxOptions
                           {
                               HttpMethod = "POST",
                               Confirm = $"Are you sure you want to delete {item.Name} from categories?",
                               OnSuccess = "deleteConfirmed",
                               OnFailure = "deleteFailed"
                           },
                           new { @class = "deleteButton"}
                        )
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

@section scripts {
    @Scripts.Render("~/bundles/ajax")
    <script>
        // AJAX Delete
        $('.deleteButton').prepend("<i class='far fa-trash-alt'></i> ");

        function removeMessage() {
            $("#MessageContent").html("");
        }

        function deleteConfirmed(response, status, data) {
            var rowId = "#Category-" + response.id;

            $("#CategoriesTable").find(rowId).remove();

            $("#MessageContent").html("<div class='alert alert-success text-success text-center'>" + response.message + "</div>");

            setTimeout(removeMessage, 6000);
        }

        function deleteFailed(response, status, data) {
            $("#MessageContent").html("<div class='alert alert-danger text-danger text-center'>Delete unsuccessful.  Is this category referenced by a product?  If so, change the product's category or delete the product.</div>");

            setTimeout(removeMessage, 6000);
        }

        $(document).ready(function () {
            // Applying jQuery DataTables plugin
            $(".data-table").DataTable();
        });
    </script>
}