@model IEnumerable<StoreFront.DATA.Supplier>

@{
    ViewBag.Title = "Product Suppliers";
}

<div class="container py-5">
    <h2>@ViewBag.Title</h2>

    <p>
        @Html.ActionLink("Create New Product Supplier", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                Actions
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Company)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.SupplierID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.SupplierID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.SupplierID })
                </td>
            </tr>
        }

    </table>
</div>
