@model StoreFront.DATA.Shipper

@{
    ViewBag.Title = "Delete Shipping Partner";
}

<div class="container py-5">
    <h2>@ViewBag.Title</h2>

    <h3>Are you sure you want to delete this shipping partner?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ContactFirst)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ContactFirst)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ContactLast)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ContactLast)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to Shipping Partners", "Index")
            </div>
        }
    </div>
</div>
