@model IEnumerable<StoreFront.DATA.Shipper>

@{
    ViewBag.Title = "Shipping Partners";
}

<div class="container py-5">
    <h2>@ViewBag.Title</h2>

    <p>
        @Html.ActionLink("Create New Shipping Partner", "Create")
    </p>
    <table class="table data-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Products", new { id = item.ShipperID })" title="Edit Info"><i class="fas fa-edit"></i></a> |
                    <a href="@Url.Action("Details", "Products", new { id = item.ShipperID })" title="View Details"><i class="far fa-eye"></i></a> |
                    <a href="@Url.Action("Delete", "Products", new { id = item.ShipperID })" title="Delete Item"><i class="far fa-trash-alt"></i></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

@section scripts {
    <script>
        // Applying jQuery DataTables plugin
        $(document).ready(function () {
            $(".data-table").DataTable();
        });
    </script>
}