@model IEnumerable<StoreFront.DATA.Shipper>

@{
    ViewBag.Title = "Shipping Partners";
}

<div class="container py-5">
    <h2>@ViewBag.Title</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactFirst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactLast)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactFirst)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactLast)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ShipperID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ShipperID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ShipperID })
                </td>
            </tr>
        }

    </table>
</div>
