@model StoreFront.DATA.Flavor

@{
    ViewBag.Title = "Delete Flavor";
}

<div class="container py-5">
    <h2>@ViewBag.Title</h2>

    <h3>Are you sure you want to delete @Model.Name?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>

            <dd>
                <img src="~/Content/imgstore/flavors/t_@Model.Image" alt="Flavor Image" style="max-width: 100px; display: block;" class="mb-2" />
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete Flavor" class="btn btn-default" /> |
                @Html.ActionLink("Back to Flavors", "Index")
            </div>
        }
    </div>
</div>
