@model IEnumerable<StoreFront.DATA.Flavor>

@{
    ViewBag.Title = "Flavors";
}

<div class="container py-5">
    <h2>@ViewBag.Title</h2>

    <p>
        @Html.ActionLink("Create New Flavor", "Create")
    </p>
    <div id="MessageContent"></div>
    <table class="table data-table" id="FlavorsTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="Flavor-@item.FlavorID">
                    <td>
                        <img src="~/Content/imgstore/flavors/t_@item.Image" alt="Flavor Image" title="@item.Name" style="max-width: 100px;" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Flavors", new { id = item.FlavorID })" title="Edit"><i class="fas fa-edit"></i></a>
                        <a href="@Url.Action("Details", "Flavors", new { id = item.FlavorID })" title=" View Details"><i class="far fa-eye"></i></a>
                        @Ajax.ActionLink(" ", "AjaxDelete", "Flavors",
                          new { id = item.FlavorID },
                          new AjaxOptions
                          {
                              HttpMethod = "POST",
                              Confirm = $"Are you sure you want to delete {item.Name} from flavors?",
                              OnSuccess = "deleteConfirmed",
                              OnFailure = "deleteFailed"
                          },
                           new { @class = "deleteButton", title = "Delete" }
                       )
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts {
    @Scripts.Render("~/bundles/ajax")
    <script>
        // AJAX Delete
        $('.deleteButton').prepend("<i class='far fa-trash-alt'></i> ");

        function removeMessage() {
            $("#MessageContent").html("");
        }

        function deleteConfirmed(response, status, data) {
            var rowId = "#Flavor-" + response.id;

            $("#FlavorsTable").find(rowId).remove();

            $("#MessageContent").html("<div class='alert alert-success text-success text-center'>" + response.message + "</div>");

            setTimeout(removeMessage, 6000);
        }

        function deleteFailed(response, status, data) {
            $("#MessageContent").html("<div class='alert alert-danger text-danger text-center'>Delete unsuccessful.  Is this flavor referenced elsewhere?  If so, remove the flavor reference before deleting here.</div>");

            setTimeout(removeMessage, 6000);
        }

        $(document).ready(function () {
            // Applying jQuery DataTables plugin
            $(".data-table").DataTable();
        });
    </script>
}