@model IEnumerable<StoreFront.DATA.Nicotine>

@{
    ViewBag.Title = "Nicotine Strengths";
}

<div class="container py-5">
    <h2>@ViewBag.Title</h2>

    <p>
        @Html.ActionLink("Create New Strength", "Create")
    </p>
    <table class="table data-table">
        <thead>
            <tr>
                <th>Strengths</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StrengthMg)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.NicotineID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.NicotineID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.NicotineID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts {
    <script>
        // Applying jQuery DataTables plugin
        $(document).ready(function () {
            $(".data-table").DataTable();
        });
    </script>
}