@model IEnumerable<StoreFront.DATA.Nicotine>

@{
    ViewBag.Title = "Nicotine Strengths";
}

<div class="container py-5">
    <h2>@ViewBag.Title</h2>

    <p>
        @Html.ActionLink("Create New Strength", "Create")
    </p>
    <table class="table data-table">
        <thead>
            <tr>
                <th>Strengths</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StrengthMg)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Products", new { id = item.NicotineID })" title="Edit Info"><i class="fas fa-edit"></i></a> |
                    <a href="@Url.Action("Details", "Products", new { id = item.NicotineID })" title="View Details"><i class="far fa-eye"></i></a> |
                    <a href="@Url.Action("Delete", "Products", new { id = item.NicotineID })" title="Delete Item"><i class="far fa-trash-alt"></i></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

@section scripts {
    <script>
        // Applying jQuery DataTables plugin
        $(document).ready(function () {
            $(".data-table").DataTable();
        });
    </script>
}