@model StoreFront.UI.Models.IndexViewModel
@{
    ViewBag.Title = "Manage your account";
}

<div class="container py-5">
    <h2>@ViewBag.Title</h2>
    <p class="text-success">@ViewBag.StatusMessage</p>
    <div class="row">
        <div class="col-md-8">
            <p>Password management:</p>
            <p>
                @(Model.HasPassword ? Html.ActionLink("Change Password", "ChangePassword", null, new { @class = "btn btn-primary border-0" })
                            : Html.ActionLink("Set Password", "SetPassword"))
            </p>

            
            @if (Model.TwoFactor)
            {
                using (Html.BeginForm("DisableTFA", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <p>
                        <br />
                        Two factor authentication is currently enabled:
                        <br />
                        <input type="submit" value="Disable 2FA" class="btn btn-primary border-0" />
                    </p>
                }
            }
            else
            {
                using (Html.BeginForm("EnableTFA", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <p>
                        <br />
                        Two factor authentication is currently disabled:
                        <br />
                        <br />
                        <input type="submit" value="Enable 2FA" class="btn btn-primary border-0" />
                    </p>
                }
            }
            @if (Model.BrowserRemembered)
            {
                using (Html.BeginForm("ForgetBrowser", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <p>
                        <br />
                        Browser is curently remembered for two factor:
                        <br />
                        <br />
                        <input type="submit" value="Forget Browser" class="btn btn-primary border-0" />
                    </p>
                }
            }
            else
            {
                using (Html.BeginForm("RememberBrowser", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <p>
                        <br />
                        Browser is curently not remembered for two factor authentication:
                        <br />
                        <br />
                        <input type="submit" value="Remember Browser" class="btn btn-primary border-0" />
                    </p>
                }
            }
        </div>
    </div>
</div>
