@model StoreFront.UI.Models.ContactViewModel

@{ 
    ViewBag.Title = "Contact Us";
}

<div class="container py-5">
    <!-- HERO SECTION-->
    <section class="py-5 gray-bg title-section">
        <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
                <div class="col-lg-6">
                    <h1 class="h2 text-uppercase mb-0">@ViewBag.Title</h1>
                </div>
                <div class="col-lg-6 text-lg-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    @Html.Partial("ContactForm")
</div>

@section scripts {
    @Scripts.Render("~/bundles/contact")
}