@model IEnumerable<StoreFront.DATA.Customer>

@{
    ViewBag.Title = "Customers";
}

<div class="container py-5">
    <h2>@ViewBag.Title</h2>

    <p>
        @Html.ActionLink("Create New Customer", "Create")
    </p>
    <table class="table data-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Customers", new { id = item.CustomerID })" title="Edit Info"><i class="fas fa-edit"></i></a> |
                    <a href="@Url.Action("Details", "Customers", new { id = item.CustomerID })" title="View Details"><i class="far fa-eye"></i></a> |
                    <a href="@Url.Action("Delete", "Customers", new { id = item.CustomerID })" title="Delete Item"><i class="far fa-trash-alt"></i></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

@section scripts {
    <script>
        // Applying jQuery DataTables plugin
        $(document).ready(function () {
            $(".data-table").DataTable();
        });
    </script>
}
