<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Smōk Electronic Cigarettes | @ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    @Styles.Render("~/Content/vendor")
    <!-- Google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;800&amp;display=swap">
    @Styles.Render("~/Content/css")

    <!-- Favicon-->
    <link rel="shortcut icon" href="~/Content/img/favicon.ico">
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body>
    <div class="page-holder">
        <!-- navbar-->
        <header class="header mb-2 bg-black">
            <div class="container px-0 px-lg-3">
                <nav class="navbar navbar-expand-lg navbar-light py-3 px-lg-0">
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img class="logo" src="~/Content/img/Logo.png"/></a>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="productsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
                                <div class="dropdown-menu mt-3" aria-labelledby="productsDropdown">
                                    <a class="dropdown-item border-0 transition-link" href="@Url.Action("Detail/1", "Products")">Starter Kit</a>
                                    <a class="dropdown-item border-0 transition-link" href=@Url.Action("Cartridges", "Categories")>Cartridges</a>
                                    <a class="dropdown-item border-0 transition-link" href=@Url.Action("Accessories", "Categories")>Accessories</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Contact", "Home")">Contact</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "ShoppingCart")">
                                    <i class="fas fa-dolly-flatbed mr-1 text-gray"></i>Cart
                                    @if (Session["cart"] != null && ((Dictionary<int, StoreFront.UI.Models.CartItemViewModel>)Session["cart"]).Count > 0)
                                    {
                                        var cart = ((Dictionary<int, StoreFront.UI.Models.CartItemViewModel>)Session["cart"]);
                                        var cartCount = cart.Sum(c => c.Value.Qty);

                                        <small class="text-gray">( @cartCount )</small>
                                    }
                                </a>
                            </li>

                            @Html.Partial("_LoginPartial")

                            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="adminDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
                                    <div class="dropdown-menu mt-3" aria-labelledby="adminDropdown">
                                        <a class="dropdown-item border-0 transition-link" href="@Url.Action("Index", "RolesAdmin")">Manage Roles</a>
                                        <a class="dropdown-item border-0 transition-link" href="@Url.Action("Index", "UsersAdmin")">Manage Users</a>
                                        <a class="dropdown-item border-0 transition-link" href="@Url.Action("Index", "Categories")">Manage Categories</a>
                                        <a class="dropdown-item border-0 transition-link" href="@Url.Action("Index", "Customers")">Manage Customers</a>
                                        <a class="dropdown-item border-0 transition-link" href="@Url.Action("Index", "Employees")">Manage Employees</a>
                                        <a class="dropdown-item border-0 transition-link" href="@Url.Action("Index", "Flavors")">Manage Flavors</a>
                                        <a class="dropdown-item border-0 transition-link" href="@Url.Action("Index", "Nicotines")">Manage Nicotine Strengths</a>
                                        <a class="dropdown-item border-0 transition-link" href="@Url.Action("Index", "OrderDetails")">Manage Order Details</a>
                                        <a class="dropdown-item border-0 transition-link" href="@Url.Action("Index", "Orders")">Manage Orders</a>
                                        <a class="dropdown-item border-0 transition-link" href="@Url.Action("Index", "Products")">Manage Products</a>
                                        <a class="dropdown-item border-0 transition-link" href="@Url.Action("Index", "Shippers")">Manage Shipping Partners</a>
                                        <a class="dropdown-item border-0 transition-link" href="@Url.Action("Index", "Suppliers")">Manage Suppliers</a>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </nav>
            </div>
        </header>

        @RenderBody()

        <footer class="bg-dark text-white">
            <div class="container py-4">
                <div class="row py-5">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <h6 class="text-uppercase mb-3">Customer services</h6>
                        <ul class="list-unstyled mb-0">
                            <li><a class="footer-link" href="@Url.Action("Contact", "Home")">Help &amp; Contact Us</a></li>
                            <li><a class="footer-link" href="#">Returns &amp; Refunds</a></li>
                            <li><a class="footer-link" href="#">Terms &amp; Conditions</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <h6 class="text-uppercase mb-3">Company</h6>
                        <ul class="list-unstyled mb-0">
                            <li><a class="footer-link" href="#">What We Do</a></li>
                            <li><a class="footer-link" href="#">Available Services</a></li>
                            <li><a class="footer-link" href="#">FAQs</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h6 class="text-uppercase mb-3">Social media</h6>
                        <ul class="list-unstyled mb-0">
                            <li><a class="footer-link" href="#">Facebook</a></li>
                            <li><a class="footer-link" href="#">Twitter</a></li>
                            <li><a class="footer-link" href="#">Instagram</a></li>
                        </ul>
                    </div>
                </div>
                <div class="pt-4" style="border-color: #1d1d1d !important">
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="small text-muted mb-0 text-center">&copy; @DateTime.Now.Year Smōk Inc. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- JavaScript files-->
        @Scripts.Render("~/bundles/js")
        @RenderSection("scripts", required: false)
        <script>
        // SVG Sprites
        function injectSvgSprite(path) {

            var ajax = new XMLHttpRequest();
            ajax.open("GET", path, true);
            ajax.send();
            ajax.onload = function (e) {
                var div = document.createElement("div");
                div.className = 'd-none';
                div.innerHTML = ajax.responseText;
                document.body.insertBefore(div, document.body.childNodes[0]);
            }
        }
            
        injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg');

        // Active nav-link
        $(function () {
            $('.navbar-nav > li a.nav-link').each(function () {
                if ($(this).attr('href') == window.location.pathname) {
                    $(this).addClass('active');
                }
            });
        });
        </script>
        <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </div>
</body>
</html>