@model StoreFront.DATA.Product

<!--  Modal -->
<div class="modal fade" id="productView" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="row align-items-stretch">
                    <div class="col-lg-6 p-lg-0">
                        <a class="product-view d-block h-100 bg-cover bg-center" style="background: url(../../Content/imgstore/products/@Html.DisplayFor(model => model.Image))" href="~/Content/imgstore/products/@Html.DisplayFor(model => model.Image)" data-lightbox="productview" title="@Html.DisplayFor(model => model.Name)"></a>
                    </div>
                    <div class="col-lg-6 black-bg">
                        <button class="close p-4 text-white" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <div class="p-5 my-md-4">
                            <h2 class="h4">@Html.DisplayFor(model => model.Name)</h2>
                            <p>@Html.DisplayFor(model => model.Price)</p>
                            <p class="text-small mb-4">@Html.DisplayFor(model => model.Description)</p>

                            @using (Html.BeginForm("AddToCart", "Products", new { productID = Html.DisplayFor(p => p.ProductID) }, FormMethod.Post))
                            {
                                <div class="row align-items-stretch mb-4">
                                    <div class="col-sm-7 pr-sm-0">
                                        <div class="border d-flex align-items-center bg-white justify-content-between py-1 px-3">
                                            <span class="small text-uppercase text-dark mr-4 no-select">Quantity</span>
                                            <div class="quantity">

                                                @Html.HiddenFor(p => p.ProductID)
                                                @Html.TextBox("Qty", 1, new { @class = "form-control border-0" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-5 pl-sm-0">
                                        <a class="btn btn-primary border-0" style="line-height: 2.26rem;" href="@Url.Action("Index", "ShoppingCart")">Add To Cart</a>
                                    </div>
                                </div>
                             }   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
