@model StoreFront.DATA.Product

@{
    ViewBag.Title = "Delete Product";
}

<div class="container py-5">
    <h2>@ViewBag.Title</h2>

    <h3>Are you sure you want to delete @Model.Name?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InStockCt)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InStockCt)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OnOrderCt)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OnOrderCt)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ReorderCt)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReorderCt)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>

            <dd>
                <img src="~/Content/imgstore/products/t_@Model.Image" style="max-width: 100px; display: block;" class="mb-2" />
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Category.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Flavor.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Flavor.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nicotine.NicotineID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nicotine.NicotineID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Supplier.Company)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Supplier.Company)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete Product" class="btn btn-default" /> |
                @Html.ActionLink("Back to Products", "Index")
            </div>
        }
    </div>
</div>
