@model IEnumerable<StoreFront.DATA.Product>

@{
    ViewBag.Title = "Products";
}

<div class="container py-5">
    <h2>@ViewBag.Title</h2>

    <p>
        @Html.ActionLink("Create New Product", "Create")
    </p>
    <table class="table data-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Flavor.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nicotine.NicotineID)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <img src="~/Content/imgstore/products/t_@item.Image" alt="Product Image" title="@item.Name" style="max-width: 100px;" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Flavor.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nicotine.NicotineID)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts {
    <script>
        // Applying jQuery DataTables plugin
        $(document).ready(function () {
            $(".data-table").DataTable();
        });
    </script>
}